/* IE6/7/8 */

@font-face {
  font-family:"jb";
  src: url("/fonts/inconsolata.woff") format("woff");
}


@font-face {
  font-family:"unscii16";
  src: url("/fonts/unscii-16-full.woff") format("woff");
}

@font-face {
    font-family:Topaz;
    src: url(/fonts/TopazPlus_a500_v1.0.eot);
}

@font-face {
    font-family:MicroKnight;
    src: url(/fonts/MicroKnightPlus_v1.0.eot);
}

/* FF3.5+/Safari/Opera10 */
@font-face {
    font-family:Topaz;
    src: url(/fonts/TopazPlus_a500_v1.0.ttf) format("truetype");
}

@font-face {
    font-family:MicroKnight;
    src: url(/fonts/MicroKnightPlus_v1.0.ttf);
}

@font-face {
    font-family: Topaz_Plus_a1200_CP437;
    src: url("/fonts/Topaz_Plus_a1200_CP437.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

html {
    overflow-y: scroll;
    cursor: url('data:image/x-icon;base64,AAACAAEAICAAAAAAAACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/ICDQ/yAg0P8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAABAAAA/wAAAP8gIND/ICDQ/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAADAAAA/wAAAP8gIND/ICDQ/yAg0P8gIND/oMDw/6DA8P8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAABAAAAAcAAAD/AAAA/yAg0P8gIND/ICDQ/yAg0P+gwPD/oMDw/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/yAg0P8gIND/ICDQ/yAg0P+gwPD/oMDw/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/ICDQ/yAg0P8gIND/ICDQ/6DA8P+gwPD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAA/wAAAP8AAAAAAAAACAAAAP8AAAD/ICDQ/yAg0P8gIND/ICDQ/6DA8P+gwPD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP8AAAD/AAAA/wAAAAAAAAAAAAAA/wAAAP8gIND/ICDQ/yAg0P8gIND/oMDw/6DA8P8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP8gIND/ICDQ/yAg0P8gIND/AAAA/wAAAP8gIND/ICDQ/yAg0P8gIND/oMDw/6DA8P8AAAD/AAAA/wAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/yAg0P8gIND/ICDQ/yAg0P8AAAD/AAAA/yAg0P8gIND/ICDQ/yAg0P+gwPD/oMDw/wAAAP8AAAD/AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/ICDQ/yAg0P8gIND/ICDQ/yAg0P8gIND/ICDQ/yAg0P+gwPD/oMDw/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP8gIND/ICDQ/yAg0P8gIND/ICDQ/yAg0P8gIND/ICDQ/6DA8P+gwPD/AAAA/wAAAP8AAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/yAg0P8gIND/ICDQ/yAg0P8gIND/ICDQ/6DA8P+gwPD/AAAA/wAAAP8AAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/ICDQ/yAg0P8gIND/ICDQ/yAg0P8gIND/oMDw/6DA8P8AAAD/AAAA/wAAAAoAAAACAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP8gIND/ICDQ/yAg0P8gIND/ICDQ/yAg0P8gIND/ICDQ/6DA8P+gwPD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/yAg0P8gIND/ICDQ/yAg0P8gIND/ICDQ/yAg0P8gIND/oMDw/6DA8P8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/oMDw/6DA8P+gwPD/oMDw/6DA8P+gwPD/oMDw/6DA8P+gwPD/oMDw/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP+gwPD/oMDw/6DA8P+gwPD/oMDw/6DA8P+gwPD/oMDw/6DA8P+gwPD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////////////////////////////////////////////////////////P////z////wP///8D///8AP///AD///AD///wA//wwA//8MAP/8AAP//AAD//wAD//8AA///AA///wAP//8AA///AAP//wAD//8AA///AA///wAP//8='), auto;
}

body {
    /* margin:40px auto; */
    /* padding:0 10px; */
    margin: 0px;
    /* font-size:16px/1.4em; */
    font-size: 1.1em;
    font-family: "jb", Consolas, Monospace;
    color:#c8c8c8;
    background: #1a1a1a;
}

main {
    max-width:900px;
    margin:40px auto;
    padding:0 10px;
    font-size:14px/1.3;
    font-family: "jb", Consolas, Monospace;
    color:#c8c8c8;
    background: #1a1a1a;
}

aside {
    max-width:900px;
    margin:40px auto;
    padding:0 10px;
    font-size:14px/1.3;
    font-family: "jb", Consolas, Monospace;
    /*font-family: Consolas, Monospace;*/
    color:#c8c8c8;
    background: #1a1a1a;
}

/* h1:before { content: "# "; }
h2:before { content: "## "; }
h3:before { content: "### "; }
h4:before { content: "#### "; }
h5:before { content: "##### "; }
h6:before { content: "###### "; } */

h1,h2,h3 {
    line-height:1.2;
    font-family: "MicroKnight"
}

h1, h1 a:link, h1 a:hover, h1 a:visited {
    text-transform: uppercase;
    font-size: 20pt;
    width: 100%;
}

h2 {
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #f7c52d;
    border-left: 4px solid #f7c52d;
    padding-left: 4px;
    padding-top: 1px;
    color: #c8c8c8;
    margin-top: 50px;
    /* color: #fff;
    background: #000; */
}

h3 {
    margin-top: 30px;
    border-bottom: 1px solid #f7c52d;
}

hr { 
    width:100%; 
    /* background: #f7c52d;  */
    border-top: 1px dotted #f7c52d;  }


div {
    text-align: justify;
}

div#moar {
   font-size: 20px;
   font-family: Topaz;
   text-align: right;
}

pre code {
    font-family: unscii16;
    color: #c8c8c8;
    /* background:#2a2a2a; */
    line-height: 125%;
    font-weight: normal;
    font-size: 90%;
    display: block;
    padding: 10px;
    border-left: 5px solid #3d3d3d;
    border-right: 5px solid #3d3d3d;
    border-radius: 5px;
}

code {
    /* font-family: "Topaz", Consolas, Monospace; */
    font-weight: bold;
    font-size: 120%;
    border-radius: 7px;
    /* border: 1px solid #3d3d3d; */
    background: #2a2a2a;
    color: #f7c52d;
    padding: 1px 5px;
}

a:link, :visited {
    /* color: #05a; */
    color: #f7c52d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #fff;
    font-weight: bold;
    /* cursor: url('data:image/x-icon;base64,AAACAAEAICAAAAoACgCoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP///wD///8A////AP///wD///8AAAAA/wAAAP9AQOD/QEDg/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP9AQOD/QEDg/wAAAAD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/wODg/8Dg4P8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/0BA4P9AQOD/////AP///wD///8A////AAAAAP8AAAD/QEDg/0BA4P/A4OD/wODg/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/QEDg/0BA4P////8A////AAAAAP8AAAD/QEDg/0BA4P/A4OD/wODg/////wD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP9AQOD/QEDg/////wD///8AAAAA/wAAAP9AQOD/QEDg/8Dg4P/A4OD/////AP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AP///wD///8AAAAA/wAAAP9AQOD/QEDg/0BA4P9AQOD/AAAA/wAAAP9AQOD/QEDg/8Dg4P/A4OD/////AP///wD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///8A////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/QEDg/0BA4P8AAAD/AAAA/0BA4P9AQOD/wODg/8Dg4P////8A////AP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP///wD///8A////AP///wD///8A////AAAAAP8AAAD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/wODg/8Dg4P////8A////AP///wD///8A////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////AP///wD///8A////AP///wD///8AAAAA/wAAAP9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P/A4OD/wODg/////wD///8A////AP///wD///8AAAAAAP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8AAAAA/wAAAP9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/////wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/////AP///wD///8A////AP///wD///8A////AP///wD///8A////AAAAAP8AAAD/QEDg/0BA4P/A4OD/wODg/wAAAP8AAAD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/8Dg4P/A4OD/wODg/8Dg4P8AAAAA////AP///wD///8A////AP///wD///8A////AP///wD///8AAAAA/wAAAP9AQOD/QEDg/8Dg4P/A4OD/AAAA/wAAAP9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/wODg/8Dg4P/A4OD/wODg/////wD///8A////AP///wD///8A////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/AAAA/wAAAP9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/8Dg4P/A4OD/wODg/8Dg4P////8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AAAAAP8AAAD/QEDg/0BA4P8AAAD/AAAA/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/wODg/8Dg4P/A4OD/wODg/////wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AAAAAP8AAAD/QEDg/0BA4P9AQOD/QEDg/wAAAP8AAAD/QEDg/0BA4P9AQOD/QEDg/8Dg4P/A4OD/wODg/8Dg4P////8A////AAAAAAD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8AAAAA/wAAAP9AQOD/QEDg/0BA4P9AQOD/AAAA/wAAAP9AQOD/QEDg/0BA4P9AQOD/wODg/8Dg4P/A4OD/wODg/////wD///8AAAAAAP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8AAAAA/wAAAP9AQOD/QEDg/wAAAP8AAAD/AAAA/wAAAP9AQOD/QEDg/8Dg4P/A4OD/wODg/8Dg4P////8A////AP///wD///8A////AP///wAAAAAA////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/AAAA/wAAAP8AAAD/AAAA/0BA4P9AQOD/wODg/8Dg4P/A4OD/wODg/////wD///8A////AP///wD///8A////AAAAAAD///8A////AP///wD///8A////AP///wD///8AAAAA/wAAAP9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/wODg/8Dg4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P/A4OD/wODg/////wD///8AAAAAAP///wD///8A////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/0BA4P/A4OD/wODg/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/8Dg4P/A4OD/////AP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAP///wD///8A////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/AAAA/wAAAP9AQOD/QEDg/wAAAP8AAAD/QEDg/0BA4P/A4OD/wODg/////wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AAAAAP8AAAD/QEDg/0BA4P8AAAD/AAAA/0BA4P9AQOD/AAAA/wAAAP9AQOD/QEDg/8Dg4P/A4OD/////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/QEDg/0BA4P9AQOD/QEDg/8Dg4P/A4OD/////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AAAAAP8AAAD/QEDg/0BA4P9AQOD/QEDg/0BA4P9AQOD/wODg/8Dg4P////8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/wODg/8Dg4P////8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AAAAAP8AAAD/QEDg/0BA4P/A4OD/wODg/////wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8AAAAA/wAAAP9AQOD/QEDg/8Dg4P/A4OD/////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wAAAAD/AAAA/0BA4P9AQOD/wODg/8Dg4P////8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wAAAAAA////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////AP///wD///8A////8P////D//8PA///DwP//wwP//8MD//8AD///AA///wA///8AP//8AAP//AAD/wAAA/8AAAP/AAA//wAAP/wAA//8AAP/8AA///AAP/8AAAP/AAAD//AAP//wAD///AD///wA////A////wP///8D////A/////////////8='), auto; */
}

pre {
    color: #c8c8c8;
    /* background:#2a2a2a; */
    padding: 2px;
    white-space: pre-wrap;
}

pre#header {
    color: #f7c52d;
    background: #1a1a1a;
    /*font-family: "jb", Consolas, Monospace;*/
    font-family: unscii16;
    font-size: 12pt;
    font-weight: bold;
    /* line-height: 22px; */
    text-align: center;
    margin: 5px solid #000;
}

blockquote {
    font-size: 80%;
    border-left: 5px solid #3d3d3d;
    background: #1f1f1f;
    padding: 10px;
    border-radius: 5px;
}

blockquote p {
    margin: 10px;
}

blockquote p code {
    background: #1f1f1f;
}

article{ 
    padding:20px 0;
}

.center { display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav#menu {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    display: block;
    text-align: center;
}

@media (max-width: 500px) { /* For small screen decices */
    *{
      font-size: 12px; 
    }
    pre {
     font-size: 11px;  
    }
}

figcaption {
    font-size: 80%;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #3d3d3d;
    font-family: unscii16;
    font-style: italic;
}

.img_empotrada {
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  max-width: 40%;
  border: none;
  padding: 15px;
  background: none;
}

table, th, td {
    border: 1px solid #3a3a3a;
    border-collapse: collapse;
    padding: 7px;
    margin: 30px;
    vertical-align: middle;
}

table {
    margin-right: auto;
    margin-left: auto;
    min-width: 50%;
    max-width: 100%;
}

th {
    padding: 10px;
    letter-spacing: 2px;
    color: #f7c52d;
    background: #131313;
    font-family: "MicroKnight";
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #252525;
}


tr:nth-child(odd) {
    background-color: #1a1a1a;
}

img {
   border: 5px solid #3a3a3a;
   padding: 5px;
   background: #2a2a2a;
   display: block;
   /* margin-left: auto;
   margin-right: auto; */
   margin: 20px auto 20px auto;
}

footer {
    background: #2a2a2a;
    border-top: 2px solid #f7c52d;
    color: #c8c8c8;
    font-family: unscii16;
    /* padding: 20px; */
    text-align: center;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
}

footer p a:visited, footer p a:link {
    color: #c8c8c8;
    font-weight: normal;
}


footer p a:hover {
    color: #f7c52d;
    font-weight: normal;
}
